.ikp-ai-chat-action-bar {
  align-items: center;
}

.ikp-ai-chat-tagline__container {
  align-items: center;
  position: relative;
}

.ikp-ai-chat-tagline__container:after {
  content: "";
  margin-left: 1.35rem;
  width: 54px;
  height: 22px;
  background: url("https://assets.zilliz.com/zilliz_grayscale_619bb822e2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ikp-ai-chat-tagline__container:before {
  content: "&";
  position: absolute;
  right: 54px;
  color: #889096;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
  font-size: 0.875rem;
  font-weight: 600;
  transform: translateY(-50%);
  top: 50%;
}

.ikp-content-parser__text > code {
  color: #fff !important;
}