.procedure {
    display: block;
    width: 100%;
    margin-top: 30px;
}

.step {
    display: flex;
    justify-content: flex-start;
    gap: 0 20px;
}

.stepNumber {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30px;
}

.stepNumber span {
    display: flex;
    border: 1px solid #D0D6DF;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #475467;
    justify-content: center;
    align-items: center;
}

.connector {
    flex: 1;
    display: block;
    margin: 10px 0;
    width: 15px;
    border-right: 1px solid #D0D6DF;
}

.stepContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    padding-bottom: 32px;
}

.stepContent h3 {
    display: flex;
    align-items: center;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 600 !important;
    margin: 4px 0 !important;
}

.stepContent p {
    font-size: 16px;
    line-height: 22px;
    color: #475467;
    margin: 0;
}