/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.theme-doc-sidebar-container {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

:root {
  --ifm-color-primary: #175fff;
  --ifm-color-primary-dark: #004efa;
  --ifm-color-primary-darker: #0049ec;
  --ifm-color-primary-darkest: #003cc3;
  --ifm-color-primary-light: #3372ff;
  --ifm-color-primary-lighter: #417cff;
  --ifm-color-primary-lightest: #6a99ff;
  --ifm-heading-font-family: "Inter" sans-serif;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-code-font-size: 95%;
  --ifm-heading-font-weight: 700;
  --ifm-font-weight-semibold: 500;
  --ifm-list-paragraph-margin: 0.3rem;
  --ifm-paragraph-margin-bottom: 0.3rem;
  --ifm-tabs-padding-vertical: 0.5rem; 
  --ifm-leading-desktop: 1;
  --ifm-list-left-padding: 1.5rem;
}

.menu__caret::before,
.menu__link--sublist-caret::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem !important;
}

.markdown {
  --ifm-h3-font-size: 1.1rem !important;
  --ifm-h2-vertical-rhythm-top: 1.1;
  --ifrm-h2-vertical-rhythm-bottom: 1.1;
}

h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 32px !important;
  font-weight: 700 !important;
  line-height: 40px !important;
}

h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 34px !important;
}

h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px !important;
  font-weight: 700 !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  font-style: normal;
}

.navbar__inner {
  font-size: 14px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c84cff;
  --ifm-color-primary-dark: #be2bff;
  --ifm-color-primary-darker: #b91aff;
  --ifm-color-primary-darkest: #a700f2;
  --ifm-color-primary-light: #d26dff;
  --ifm-color-primary-lighter: #d77eff;
  --ifm-color-primary-lightest: #e7afff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

pre {
  max-height: 24rem;
  overflow-y: scroll;
}

.navbar__item > svg {
  display: none;
}

.dropdown__link > svg {
  display: none;
}

.footer__link-item svg {
  display: none;
}

section.row {
  margin-top: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

section.row > article.col--6 {
  --ifm-col-width: 1;
}

section.row > article > a.padding--lg {
  padding: 0 1rem !important;
}

section.row > article > a > h2 span.tooltip {
  font-size: 0.7rem;
  font-weight: 700;
}

section.row > article > a:hover {
  color: var(--ifm-color-primary);
}

section.row > article > a:hover > h2 span.tooltip {
  visibility: visible;
}

section.row > article > a > p.text--truncate {
  overflow: visible;
  white-space: normal;
  font-size: 1rem;
  color:rgba(0, 0, 0, 0.6);
}

section.row > article > a > p.text--truncate a {
  color: rgba(0, 0, 0, 0.6);
}

section.row > article > a > p.text--truncate a:hover {
  color: var(--ifm-color-primary-light);
}

article p {
  line-height: 2rem;
}

p a {
  color: var(--ifm-color-primary) !important;
}

p a:hover {
  color: var(--ifm-color-primary) !important;
}

#exec > a {
  color: #000000 !important;
}

#exec > a:hover {
  color: var(--ifm-color-primary) !important;
}

div[role="tabpanel"] .margin-top--md {
  margin-top: 0 !important;
}
 
div[role="tabpanel"] .theme-code-block {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div[role="tabpanel"] .tabs {
  font-size: 0.9rem;
  background-color: rgb(246, 248, 250);
  border-top-left-radius: 6.4px;
  border-top-right-radius: 6.4px;
}

div[role="tabpanel"] .tabs > li {
  padding: 0.5rem 1rem;
}

div[role="tabpanel"] .tabs > li:hover {
  background-color: rgb(246, 248, 250);
}

div[role="tabpanel"] .tabs > li.tabs__item {
  border: 2px solid rgb(246, 248, 250);
  color:rgba(0, 0, 0, 0.3)
}

div[role="tabpanel"] .tabs > li.tabs__item--active {
  border: 2px solid rgb(246, 248, 250);
  color: var(--ifm-color-primary-light);
}

#edit-this-page a {
  color: rgba(0, 0, 0, 0.8);
}

#edit-this-page a:hover {
  color: var(--ifm-color-primary-light);
  text-decoration: none;
}

#feedback-box #thumbsUp {
  cursor: pointer;
  border: 1px solid rgb(107, 114, 128);
}

#feedback-box #thumbsDown {
  cursor: pointer;
  border: 1px solid rgb(107, 114, 128);
}

a.card {
  border-width: 0;
  border-style: none;
  border-radius: 0 !important;
  border-image: initial;
  box-shadow: none !important;
}

section.row > article > a.padding--lg {
  padding: 0 !important;
}

section.row > article.margin-bottom--lg {
  margin-bottom: 1.5rem !important;
}

li.theme-doc-sidebar-item-link-level-1 a.menu__link,
li.theme-doc-sidebar-item-link-level-2 a.menu__link,
li.theme-doc-sidebar-item-link-level-3 a.menu__link,
li.theme-doc-sidebar-item-link-level-4 a.menu__link,
li.theme-doc-sidebar-item-link-level-5 a.menu__link {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: rgb(107, 114, 128) !important;
}

li.theme-doc-sidebar-item-link-level-1 a.menu__link--active,
li.theme-doc-sidebar-item-link-level-2 a.menu__link--active,
li.theme-doc-sidebar-item-link-level-3 a.menu__link--active,
li.theme-doc-sidebar-item-link-level-4 a.menu__link--active,
li.theme-doc-sidebar-item-link-level-5 a.menu__link--active {
  color: rgb(23, 95, 255) !important;
}

li.theme-doc-sidebar-item-category-level-1 a.menu__link.menu__link--sublist,
li.theme-doc-sidebar-item-category-level-2 a.menu__link.menu__link--sublist,
li.theme-doc-sidebar-item-category-level-3 a.menu__link.menu__link--sublist,
li.theme-doc-sidebar-item-category-level-4 a.menu__link.menu__link--sublist {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: rgb(107, 114, 128) !important;
}

li.theme-doc-sidebar-item-category-level-1 > ul.menu__list {
  padding-left: 0 !important;
}

div.footer__bottom.text--center {
  display: none;
}

.header-btn {
  display: inline-block;
  color: #fff;
  background-color: var(--ifm-color-primary);
  border-radius: 20px;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.header-btn:hover {
  color: #fff;
  background-color: var(--ifm-color-primary-darkest);
}

.header-search-link::before {
  content: url('/img/search_icon.svg');;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid rgb(212, 212, 216);
}

.navbar__search {
  display: none;
}

.hidden-sidebar-item {
  display: none !important;
}

.to-be-deprecated > div > a::after {
  content: "即将作废";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
  color: #fff;
  background: #FF7F47;
  margin-left: 0.5rem;
  vertical-align: middle;
  transform: rotateZ(0deg) !important;
}

.menu__list-item-collapsible:not(:has(button)) {
  display: inline-block;
  font-weight: 700;
  margin: 0.25rem 0;
  font-size: 14px;
  text-transform: uppercase;
}

.button__text {
  font-size: 14px;
  font-weight: 700;
}

.button__text--primary {
  color: #fff;
}

.button__text--secondary {
  color: #000;
}

/* li.menu__list-item:has(a) {
  margin-left: 0.5rem;
} */

/* Hide badges and pagination navigation only on the home page */
html.docs-doc-id-tutorials\/home .badge,
html.docs-doc-id-tutorials\/home .breadcrumbs,
html.docs-doc-id-tutorials\/home .pagination-nav {
  display: none !important;
}

/* Hide katex-html */
.katex-html {
  display: none !important;
}

.menu__list-item-collapsible:not(:has(button)) {
  width: 100% !important ;
}