/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #175fff;
  --ifm-color-primary-dark: #004efa;
  --ifm-color-primary-darker: #0049ec;
  --ifm-color-primary-darkest: #003cc3;
  --ifm-color-primary-light: #3372ff;
  --ifm-color-primary-lighter: #417cff;
  --ifm-color-primary-lightest: #6a99ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c84cff;
  --ifm-color-primary-dark: #be2bff;
  --ifm-color-primary-darker: #b91aff;
  --ifm-color-primary-darkest: #a700f2;
  --ifm-color-primary-light: #d26dff;
  --ifm-color-primary-lighter: #d77eff;
  --ifm-color-primary-lightest: #e7afff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__item > svg {
  display: none;
}

.dropdown__link > svg {
  display: none;
}

.footer__link-item svg {
  display: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

section.row {
  margin-top: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

section.row > article.col--6 {
  --ifm-col-width: 1;
}

section.row > article > a.padding--lg {
  padding: 0 1rem !important;
}

section.row > article > a > h2 span.tooltip {
  visibility: hidden;
  font-size: 0.7rem;
  font-weight: 700;
}

section.row > article > a:hover {
  color: var(--ifm-color-primary);
}

section.row > article > a:hover > h2 span.tooltip {
  visibility: visible;
}

section.row > article > a > p.text--truncate {
  overflow: visible;
  white-space: normal;
  font-size: 1rem;
  color:rgba(0, 0, 0, 0.6);
}

section.row > article > a > p.text--truncate a {
  color: rgba(0, 0, 0, 0.6);
}

section.row > article > a > p.text--truncate a:hover {
  color: var(--ifm-color-primary-light);
}

/* section.row  article.margin-top--lg {
  margin-top: 4rem !important;
}

.row > article > section {
  flex-direction: column;
  gap: 2rem;
  border-right: 1px solid #eaecef;
}

.row > article > section > article.col {
  margin-left: 2rem !important;
  margin-bottom: 0 !important;
  min-width: 90% !important;
  flex-grow: 2;
}

.row > article > section a.card {
  border: none;
  box-shadow: none;
  padding: 0 !important;
  gap: 0.5rem;
}

.row > article > section a.card:hover {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.row > article > section a.card:hover > h2 {
  color: var(--ifm-color-primary-light);
}

.row > article > section a.card > h2 {
  margin-bottom: 0;
  border-radius: none;
  font-size: 1.2rem;
}

.row > article > section a.card > p {
  overflow: visible;
  white-space: normal;
  font-size: 0.9rem;
  margin-left: 1.5rem;
  font-weight: 400;
} */

#exec > a {
  color: #000000 !important;
}

#exec > a:hover {
  color: var(--ifm-color-primary) !important;
}

div[role="tabpanel"] .margin-top--md {
  margin-top: 0 !important;
}
 
div[role="tabpanel"] .theme-code-block {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div[role="tabpanel"] .tabs {
  font-size: 0.9rem;
  background-color: rgb(246, 248, 250);
  border-top-left-radius: 6.4px;
  border-top-right-radius: 6.4px;
}

div[role="tabpanel"] .tabs > li {
  padding: 0.5rem 1rem;
}

div[role="tabpanel"] .tabs > li:hover {
  background-color: rgb(246, 248, 250);
}

div[role="tabpanel"] .tabs > li.tabs__item {
  border: 2px solid rgb(246, 248, 250);
  color:rgba(0, 0, 0, 0.3)
}

div[role="tabpanel"] .tabs > li.tabs__item--active {
  border: 2px solid rgb(246, 248, 250);
  color: var(--ifm-color-primary-light);
}

nav.pagination-nav > a {
  border: none;
}

nav.pagination-nav .pagination-nav__sublabel {
  display: none;
}

table {
  width: 100%;
}
