.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.activeGroupBlue {
  border: 2px solid #3670F2; 
  border-radius: 8px; 
  min-height: 12em;
}

.activeGroupCaptionBlue {
  font-size: 1.2em; 
  color: #3670F2;
}

.activeGroupOrange {
  border: 2px solid #FF9330; 
  border-radius: 8px; 
  min-height: 12em;
}

.activeGroupCaptionOrange {
  font-size: 1.2em; 
  color: #FF9330;
}

.activeGroupLightBlue {
  border: 2px solid #00B3FF; 
  border-radius: 8px; 
  min-height: 12em;
}

.activeGroupCaptionLightBlue {
  font-size: 1.2em; 
  color: #00B3FF;
}

.inactiveGroup {
  border: 2px solid #E0E3E7; 
  border-radius: 8px; 
  min-height: 12em;
}

.inactiveGroupCaption {
  font-size: 1.2em; 
  color: #000000
}
