.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: none;
  border: none;
}

.cardContainer:hover {
  color: var(--ifm-link-hover-color);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 0.8rem;
}
