/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #175fff;
  --ifm-color-primary-dark: #004efa;
  --ifm-color-primary-darker: #0049ec;
  --ifm-color-primary-darkest: #003cc3;
  --ifm-color-primary-light: #3372ff;
  --ifm-color-primary-lighter: #417cff;
  --ifm-color-primary-lightest: #6a99ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.header-link {
  display: inline-block;
  margin-top: -16px;
  line-height: 32px;
  width: auto;
  height: 24px;

}

.header-link > svg {
  display: none;
}