.container {
    display: block;
    width: 100%;
    max-width: 996px;
    margin: 10px auto;
    padding: 0 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    background: linear-gradient(79.78deg, #7D2EFF -17.27%, #00B3FF 61.91%, #00CDD1 121.86%);
    border-radius: 12px;
    padding: 32px 48px;
    color: #FFFFFF;
}

.bannerText {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
}

.bannerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    padding: 16px 60px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}