.container {
    display: block;
    width: 100%;
    max-width: 996px;
    margin: 20px auto;
    padding: 0 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: linear-gradient(79.78deg, #7D2EFF -17.27%, #00B3FF 61.91%, #00CDD1 121.86%);
    border-radius: 12px;
    padding: 24px 32px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.bannerText {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
}

.bannerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    padding: 16px 60px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    cursor: pointer;
}

.bannerLink:hover,
.bannerLink:link {
    box-shadow: 0px 2px 4px 0px #0000001A;
    transform: scale(0.95);
}

.zillizStar {
    display: inline-block;
    background-image: url('/icons/zilliz-star.svg');
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;    
}